# ignore compiled files of any sort
*.pyc
*.c
*.so
*~
.#*
*.swp
*.swo

# coverage
.coverage

# ignore specific dir
.DS_Store
.cache
build
.pytest_cache

# ignore example results
*.png

# ignore all type of zipped files
*.zip
*.nt.bz2
*.tar.gz
*.tgz
